@model List<SM_WEB.Entities.Usuario>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="card">
    <div class="card-body register-card-body">
        <h4 class="login-box-msg">Consulta de usuarios</h4>

<table id="tabla-Usuarios" class="table table-hover">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
        {
            <tr>
                <td>@item.Identificacion</td>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.Descripcion</td>
                <td>@item.EstadoDescripcion</td>
                <td>
                  <a href="@Url.Action("ActualizarUsuario","Home", new { q = item.Consecutivo })">
                    <i class="fa fa-user"></i>
                  </a>
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>
</div>

<script src="~/page/jquery/jquery.min.js"></script>
<script src="~/js/ConsultaUsuarios.js"></script>