@model List<SM_WEB.Entities.Carrito>

<br />
<br />

<div class="card">
    <div class="card-body register-card-body">
        <h4 class="login-box-msg">Factura # @Model.FirstOrDefault()!.IdMaestro</h4>

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" style="text-align:center" role="alert">
                @ViewBag.msj
            </div>
        }

        <table id="tabla-Carrito" class="table table-hover">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>SubTotal</th>
                    <th>Impuesto</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdProducto - @item.Nombre</td>
                        <td>@item.Cantidad</td>
                        <td>@item.PrecioUnitario.ToString("N2")</td>
                        <td>@item.SubTotal.ToString("N2")</td>
                        <td>@item.Impuesto.ToString("N2")</td>
                        <td>@item.Total.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
